.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px;

  background-color: rgb(190, 146, 231);
}

.characters-container {
  display: flex;
  justify-content: center;
  margin: 20px
}

.character {
  display: flex;
  padding: 0 15px;
}

.stopwatch > span {
  font-family: monospace;
}

.game-container {
  width: 400px;
  margin: 0 10px;
  transform: scale3d(1.001, 1.001, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.game-container:hover {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.game-container > img {
  width: 100%;
}

.games {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.game {
  width: 100%;
  text-align: center;
}

.game > img {
  width: 100%;
  max-width: 1100px;
  /* margin: 0 auto; */
}

.character {
  display: flex;
  align-items: center;
}

.character > img {
  width: 50px;
}

.character > span {
  margin: 0 10px;
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .games {
    justify-content: center;
  }
}